  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.bookedmb, .availablemb
{
    display: none;
}

h1, h2, p
{
    font-family: Inter;
}
body
{
    padding: 60px;
}
.title 
{
    font-family: Inter;
    text-align: center;
}
/* .bookedtable{
    border: 1px solid;
    border-radius: 10px;
} */
.booked
{
    padding-top: 60px;
}
.table_background  {
    display: flex;
    background-color: rgb(214, 214, 214);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

table {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    height: 350px;
    }
th{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    height: 100px;
}

table, td {
    padding: 10px;
    font-size: 16px;
    height: 90px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}
tr:nth-child(even) {
    background-color: #FFF;
}
tr:last-child
{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

tbody > tr:hover{
    background-color: rgba(255, 0, 0, 0.301);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.sts
{
    text-align: center;
    width: 50px;
    color: #000000;
    background-color: #c9c9c9 ;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
}
.sts_jr
{
    width: 50px;
    color: #217951;
    background-color: #ECFDF3 ;

}
.sts_sr
{
    text-align: center;
    width: 50px;
    color: #ffffff;
    background-color: #C8C110 ;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
}

tfoot th
{
    background-color: #FFF;
    height: 45px;
}

.center {
    left: 50%;

  }
  .sts_draft
  {
    color: #ffffff;
    background-color: #999999;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 16px;
  }

  .sts_on{
    color: #ffffff;
    background-color: #217951;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 18px;
  }
  .sts_off{
    color: #ffffff;
    background-color: #ff0000;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 16px;
  }

  .sts_reprogress
  {
    color: #ffffff;
    background-color: #cbe009;
    text-align: center;
    width: 100px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 16px;
  }
  .sts_recomplete
  {
    color: #fff;
    background-color: #217951;
    text-align: center;
    text-shadow: 0px 1px 4px #000000;
    width: 100px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 16px;
  }
  .sts_active
  {
    color: #fff;
    background-color: #0084ff;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
    font-size: 16px;
  }
  .sts_cancelled
  {

      color: #fff;
      background-color: #700000;
      text-align: center;
      width: 100px;
      height: 25px;
      border-radius: 16px;
      padding: 2px 8px 2px 6px;
      font-size: 16px;

  }

  .sts_complete
  {

      color: #fff;
      background-color: #217951;
      text-align: center;
      width: 100px;


      height: 25px;
      border-radius: 16px;
      padding: 2px 8px 2px 6px;
      font-size: 16px;

  }
  
  .btn{
    text-align: center;
    color: #000000;
    background-color: #FFF;
    font-weight: 100px;
    width: 90px;
    border: 0.5px solid;
    border-radius: 16px;
  }
  .btn:hover
  {
    background-color: #000000;
    color: #FFF;
    transition: .25s;
  }

 .available
{
    padding-top: 60px;
}
.titletable
{
    padding-left: 40px;
}
/* ------------------------------------------------------------------ */
@media screen and (max-width: 500px) {
    h1, h2, p
    {
        font-family: Inter;
    }
    body
    {
        padding: 20px;
    }
    .title 
    {
        font-family: Inter;
        text-align: center;
    }
    .booked .availablemb
    {
        display: none;
        padding-top: 10px;
    }
    .bookedmb .availablemb
    {
        display: block;
        padding-top: 50px;
    }
    .table_background  {
     
        background-color: rgb(214, 214, 214);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        margin-top: 5vh;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        overflow-x:auto;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        height: 350px;
    }
    
    table {
        font-family: Inter;
        font-weight: 400;
        font-style: normal;
        border-collapse: collapse;
        width: 100%;
        border-radius: 15px;
        
        }
    
    
    th
    {
        background-color: rgb(255, 255, 255);
        color: black;
        height: 45px;
        font-size: 18px;
        text-align: left;
        padding: 20px 20px 10px;
        border-radius:0px 0px 0px 0px;
    }
    
    table, td {
        padding: 8px 40px 8px 20px;
        font-size: 24px;
        height: 390px;
        word-break: break-all;
        
        
    }


    tr:last-child
    {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    tbody > tr:hover{
        background-color: rgba(255, 0, 0, 0.336);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        color: #FFF;
    }
    
    .sts
    {
        text-align: center;
        width: 50px;
        color: #000000;
        background-color: #c9c9c9 ;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
    }
    .sts_jr
    {
        width: 70px;
        color: #217951;
        background-color: #ECFDF3 ;
    
    }
    .sts_sr
    {
        text-align: center;
        width: 70px;
        color: #ffffff;
        background-color: #C8C110 ;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
    }
    
    tfoot
    {
        background-color: #FFF;
        white-space: nowrap;
    }
    
    .center {
        left: 50%;
    
      }
      .sts_draft
      {
        color: #ffffff;
        background-color: #999999;
        text-align: center;
        width: 70px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 16px;
      }
    
      .sts_on{
        color: #ffffff;
        background-color: #217951;
        text-align: center;
        width: 80px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 18px;
      }
      .sts_off{
        color: #ffffff;
        background-color: #ff0000;
        text-align: center;
        width: 80px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 18px;
      }
    
      .sts_reprogress
      {
        color: #ffffff;
        background-color: #cbe009;
        text-align: center;
        width: 100px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 18px;
      }
      .sts_complete
      {
        color: #fff;
        background-color: #00ff15;
        text-align: center;
        text-shadow: 0px 1px 4px #000000;
        width: 100px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 18px;
      }
      .sts_active
      {
        color: #fff;
        background-color: #0084ff;
        text-align: center;
        width: 80px;
        border-radius: 16px;
        padding: 2px 8px 2px 6px;
        font-size: 18px;
      }
      .sts_cancelled
      {
    
          color: #fff;
          background-color: #700000;
          text-align: center;
          width: 80px;
          border-radius: 16px;
          padding: 2px 8px 2px 6px;
          font-size: 18px;
    
      }
    
      .sts_complete
      {
    
          color: #fff;
          background-color: #035e00;
          text-align: center;
          width: 100px;
          border-radius: 16px;
          padding: 2px 8px 2px 6px;
          font-size: 18px;
    
      }
      
      .btn{
        text-align: center;
        color: #000000;
        background-color: #FFF;
        font-weight: 100px;
        width: 90px;
        border: 0.5px solid;
        border-radius: 16px;
      }
      .btn:hover
      {
        background-color: #000000;
        color: #FFF;
        transition: .25s;
      }
    
     .available
    {
        padding-top: 60px;
    }
    .titletable
    {
        text-align: center;
    }

    }